<div class="row">
    <div class="col-sm-3 cardPadding" *ngFor="let customer of allCustomer">
        <div class="card">
            <div class="card-header bg-primary headingEdit">
                <span>{{customer.name}}</span>
                <span class="spanEdit" ><i data-toggle="modal" data-target="#exampleModal" class="fas fa-edit"></i> 
                    <i class="fas fa-trash ml-2" (click)="deleteCustomer(customer)"></i></span>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Customers</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #myForm="ngForm">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="user.name"
                                            #name="ngModel" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="margin-right: 10px">Gender</label>
                                        <input type="radio" value="male" name="gender" [(ngModel)]=user.gender> Male
                                        <input type="radio" value="female" name="gender" [(ngModel)]=user.gender> Female
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Address</label>
                                        <input type="text" maxlength="50" class="form-control" name="address"
                                            [(ngModel)]="user.address" #name="ngModel" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <select class="form-control" [(ngModel)]="user.city" name="city"
                                            #city="ngModel">
                                            <option disabled>Select City</option>
                                            <option value={{c}} *ngFor="let c of cityList">{{c}}</option>
                                        </select>

                                    </div>

                                    <div style="display: none;">
                                        <input type="text" class="form-control" name="lat" value="40.713829"
                                            [(ngModel)]="user.lat" #lat="ngModel" required>
                                        <input type="text" class="form-control" name="lng" value="-73.989667"
                                            [(ngModel)]="user.lng" #lng="ngModel" required>
                                        <input type="text" class="form-control" name="image" [(ngModel)]="user.image"
                                            #image="ngModel" required>
                                    </div>

                                    <!-- <div class="form-group">
                                        <label for="exampleInputPassword1">Image</label>
                                        <input type="file" class="form-control" name="image" [(ngModel)]="user.image" #image="ngModel" required>
                                    </div> -->

                                    <button type="submit" data-dismiss="modal" class="btn btn-primary"
                                        (click)="postLogin(myForm.value)">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body row ">
                <div class="col" style="padding-right:0;">
                    <img width="75" height="75" src="{{customer.image}}" alt="Card image">
                </div>
                <div class="col" style="padding-left:0;">
                    {{customer.address}} <br>
                    {{customer.state}}<br>
                    <a href=# class="aEdit"> View Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>


<h3>{{errorMsg}}</h3>